#sidebar-cols {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}

#admin-main-part.sidebar-minimized #sidebar-cols {
  width: auto;
  overflow: visible;

  li {
    &:hover, &.menu-active {
      background-color: $gray-100;
    }
  }

  .icon-link, [data-toggle="collapse"] {
    text-align: center;

    .icon {
      margin: 0 !important;
      padding: 0;
    }

    .text {
      display: none;
    }
  }

  ul.collapse.in {
    display: none;
  }
}
