.main-right-sidebar {
  width: 100%;
}

#admin-main-part.sidebar-minimized .main-right-sidebar {
  width: auto;

  li {
    &:hover, &.menu-active {
      background-color: $gray-100;
    }
  }

  .icon-link {
    text-align: center;

    .icon {
      margin: 0 !important;
      padding: 0;
    }

    .text {
      display: none;
    }
  }
}
