table.table {
  width: 100%;

  thead {
    border-bottom: 1px solid $global-border-style;
  }

  th {
    font-size: 14px !important;
    text-transform: uppercase;
    a {
      color: theme-color("secondary");
    }
  }

  tr {
    border-bottom: 1px solid $global-border-style;
    @include media-breakpoint-down(md) {
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  td {
    .badge-considered_safe,
    .badge-complete {
      background-color: $header-background;
    }
  }

  @include media-breakpoint-between(xs, md) {
    thead {
      display: none;
    }

    tr {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 0;

      td {
        width: 50%;
        border: none;
        padding: 0 0.75rem;
      }
      &.is-hidden {
        display: none;
      }
    }

    .actions {
      position: absolute;
      right: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .actions a, button {
      margin: 2px;
    }

    &-text-primary {
      color: theme-color("primary");
    }

    &-lead {
      font-weight: 600;
    }
  }
}