listing_orders {
  .order-number {
    order: 3;
    font-size: font-px-to-rem(16px);
    @include media-breakpoint-up(md) {
      font-size: font-px-to-rem(29px);
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(18px);
    }
  }

  .order-status {
    order: 2;
  }

  .order-date {
    order: 1;
  }

  .order-total {
    order: 4;
    font-size: font-px-to-rem(16px);
    @include media-breakpoint-up(md) {
      font-size: font-px-to-rem(29px);
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(18px);
    }
  }

  .order-risk,
  .order-state,
  .order-payment-state,
  .order-shipment-state {
    @include media-breakpoint-up(md) {
      font-size: font-px-to-rem(18px);
    }
  }

  @include media-breakpoint-between(xs, md) {
    thead,
    .order-payment-state,
    .order-shipment-state {
      display: none;
    }

    .arrow-container {
      right: $container-padding;
      position: absolute;
    }

    .order-arrow {
      right: 0px;
      position: absolute;
      width: 20px;
      height: 20px;
      margin: 10px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(45deg);
      @include media-breakpoint-up(md) {
        margin-top: 25px;
      }
    }
  }
}