table.table {
  width: 100%;

  thead {
    border-bottom: 1px solid $global-border-style;
  }

  th {
    padding: 7.5px 0;
    font-size: 14px !important;
    font-size: font-px-to-rem(14px) !important;
    text-transform: uppercase;
    a {
      color: theme-color("secondary");
    }
    @include media-breakpoint-up(md) {
      font-size: font-px-to-rem(26px) !important;
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(18px) !important;
      text-transform: initial;
    }
  }

  tr {
    border-bottom: 1px solid $global-border-style;

    @include media-breakpoint-down(md) {
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  td {
    padding: 25px 0;
    .badge-considered_safe,
    .badge-complete {
      background-color: $header-background;
    }
  }

  .order-number {
    order: 3;
    font-size: font-px-to-rem(16px);
    @include media-breakpoint-up(md) {
      font-size: font-px-to-rem(29px);
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(18px);
    }
  }

  .order-status {
    order: 2;
  }

  .order-date {
    order: 1;
  }

  .order-total {
    order: 4;
    font-size: font-px-to-rem(16px);
    @include media-breakpoint-up(md) {
      font-size: font-px-to-rem(29px);
    }
    @include media-breakpoint-up(lg) {
      font-size: font-px-to-rem(18px);
    }
  }

  .order-payment-state,
  .order-shipment-state {
    @include media-breakpoint-up(md) {
      font-size: font-px-to-rem(18px);
    }
  }

  @include media-breakpoint-between(xs, md) {
    thead,
    .order-payment-state,
    .order-shipment-state {
      display: none;
    }

    tr {
      display: flex;
      flex-wrap: wrap;
      padding: 25px 0;

      td {
        width: 50%;
        border: none;
        padding: 0;
      }
    }

    .arrow-container {
      right: $container-padding;
      position: absolute;
    }

    .order-arrow {
      right: 0px;
      position: absolute;
      width: 20px;
      height: 20px;
      margin: 10px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(45deg);
      @include media-breakpoint-up(md) {
        margin-top: 25px;
      }
    }

    &-text-primary {
      color: theme-color("primary");
    }

    &-lead {
      font-weight: 600;
    }
  }
}