#listing_orders {
  font-size: font-px-to-rem(16px);

  .order-date {
    order: 1;
  }

  .order-number {
    order: 3;
  }

  .order-shipment-state {
    order: 2;
  }    

  .order-total {
    order: 4;
  }

  @include media-breakpoint-between(xs, md) {
    thead,
    .order-risk,
    .order-state,
    .order-payment-state,
    .order-email {
      display: none;
    }

    .actions {
      right: $container-padding;
      position: absolute;
    }
  }
}