@mixin svg-sizes {
  @include media-breakpoint-between(md, md) {
    height: 41px;
    width: 41px;
  }
}
@mixin item-title-font-size {
  font-size: font-px-to-rem(16px);
  @include media-breakpoint-up(md) {
    font-size: font-px-to-rem(29px);
  }
  @include media-breakpoint-up(lg) {
    font-size: font-px-to-rem(24px);
  }
}
.content-header {
  .page-actions a {
    color: $header-font-color;
    background-color: $header-background;
    border-color: $header-background;
  }
}