@mixin svg-sizes {
  @include media-breakpoint-between(md, md) {
    height: 41px;
    width: 41px;
  }
}
@mixin item-title-font-size {
  font-size: font-px-to-rem(16px);
  @include media-breakpoint-up(md) {
    font-size: font-px-to-rem(29px);
  }
  @include media-breakpoint-up(lg) {
    font-size: font-px-to-rem(24px);
  }
}
.page-header {
  font-weight: 500;
  h1 {
    color: $font-color;
    font-size: font-px-to-rem(32px);
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: font-px-to-rem(34px);
    }
    @include media-breakpoint-down(sm) {
      font-size: font-px-to-rem(18px);
    }
  }
  .page-actions a {
    background-color: $header-background;
    border-color: $header-background;
  }
}