<a class="w-25 text-right mobile-navigation-category-link" data-category="<%= category.parameterize %>" href="#" aria-label="<%= Spree.t('go_to_category')%>">
  <%= icon(name: 'arrow-right',
          classes: 'd-sm-none spree-icon-arrow spree-icon-arrow-right',
          width: 16,
          height: 16) %>
<%= icon(name: 'arrow-right',
        classes: 'd-none d-sm-inline spree-icon-arrow spree-icon-arrow-right',
        width: 14,
        height: 27) %>
</a>